<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/AlexiDgLogo_Backgroundless.png" type="image/x-icon">
</head>
<body>
    <h1>Update usuario</h1>
    <div class="form-container">
        <form action="/api/users2/up/<%= user[0].id %>" method="POST">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" value="<%= user[0].name %>">
    
            <label for="age">Edad</label>
            <input type="number" name="age" id="age" value="<%= user[0].age %>">
    
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= user[0].email %>">
            <div class="btn-container">
                <button class="cancel"><a href="/api/users2/all">Cancelar</a></button>
                <input type="submit" value="Registrar" class="submit">
            </div>
        </form>
    </div>
</body>
<script src="/js/script.js"></script>
</html>