* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f4f4f4;
    line-height: 1.6;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 2vh;
    color: #007BFF;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.btn-create {
    width: 9rem;
    height: 3rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #63a763;
    color: #007BFF;
}

.btn-create a {
    text-decoration: none;
    color: #007BFF;
}

.btn-create:hover {
    border: 2px solid #333;
    background-color: #83ad83;
    color: white;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 1rem;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #252525;
}

.success {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 1;
    gap: 1vh;
    border: 1px solid #f4f4f4;
    padding: 2rem;
    background-color: rgb(86, 86, 92);
    border-radius: 1rem;
    width: 30rem;
    margin: 0 auto;
}

.btn-update a {
    color: yellow;
    text-decoration: none;
}

.btn-update a:hover {
    text-decoration: underline;
}

.btn-delete a {
    color: red;
    text-decoration: none;
}

.btn-delete a:hover {
    text-decoration: underline;
}

input {
    border-radius: 2rem;
    background-color: rgb(119, 119, 122);
    border: 1px solid;
    color: #f4f4f4;
    padding-left: 1rem;
    height: 2rem;
}

input:focus {
    border-color: blue; /* Cambia el color del borde al seleccionar */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

input::before {
  content: 'Seleccionar';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    gap: 1rem;
}

.submit {
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #007BFF;
    border: none;
}

.submit:hover {
    color: whitesmoke;
    background-color: #2b6eb6;
    border: 2px solid black;
}

.submit::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.cancel {
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: rgb(216, 216, 93);
    border: none;
    color: black;
}

.cancel a {
    text-decoration: none;
}

.cancel:hover {
    color: whitesmoke;
    background-color: rgb(228, 228, 12);
    border: 2px solid black;
    color: blue;
}

.cancel::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.delete {
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: red;
    border: none;
}

.delete:hover {
    color: whitesmoke;
    background-color: #aa4432;
    border: 2px solid black;
}

.delete::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}